body {
  font-family: 'Montserrat', sans-serif;



}



.hat{
  background-color: white;
   font-size: 16px;
  font-style: normal;
  font-weight: 600;
}


#text1{
position: absolute;
width: 225px;
height: 26px;
left: 100px;
top: 29px;
font-size: 16px;

}


#text2{

position: absolute;
width: 65px;
height: 26px;
left: 687px;
top: 29px;



}


#text3{

position: absolute;
width: 80px;
height: 26px;
left: 814px;
top: 29px;



}



#text4{

position: absolute;
width: 42px;
height: 26px;
left: 956px;
top: 29px;



}

#text5{
position: absolute;
width: 119px;
height: 26px;
left: 1060px;
top: 29px;


}

#text6{
position: absolute;
width: 75px;
height: 26px;
left: 1241px;
top: 29px;

}



.box1{
background-color: black;
height: 600px;
margin-top: 90px;
}


#b_text{

position: absolute;
width: 389px;
height: 59px;
left: 852px;
top: 246px;
color: white;
font-size: 40px;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 160%;

}



#b_text2{
position: absolute;
width: 403px;
height: 116px;
left: 852px;
top: 340px;
font-size: 18px;
color: white;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 160%;
}


#b_text3{


position: absolute;
width: 403px;
height: 87px;
left: 852px;
top: 481px;
font-size: 18px;
font-style: normal;
font-weight: normal;
line-height: 160%;
}


#photo{
  width: 600px;
  height: 600px;
}
#photo2{
position: absolute;
left: 1118px;
top: 104px;
}

.box2{
  height: 776px;
  background-color: white;
}

#b_text4{
  position: absolute;
  width: 580px;
  height: 65px;
  left: 439px;
  top: 790px;
  font-weight: bold;
  font-size: 50px;
  line-height: 160%;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;

}
#b_text5{ position: absolute;
 position: absolute;
  width: 545px;
  height: 87px;
  left: 462px;
  top: 955px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  text-align: center;}





#photo3{
  position: absolute;
  width: 458px;
  height: 292px;
  left: 0px;
  top: 1174px;}

#photo4{
  position: absolute;
  width: 292px;
  height: 292px;
  left: 523px;
  top: 1174px;

}
#photo5{
    position: absolute;
  width: 458px;
  height: 292px;
  left: 880px;
  top: 1174px;

}
.box3 {
  background-color: #AD4220;
  height: 600px;
  color: white;
}

#b_text6{
  position: absolute;
  width: 410px;
  height: 59px;
  left: 125px;
  top: 1545px;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 160%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

#b_text7 {
  position: absolute;
  width: 410px;
  height: 116px;
  left: 125px;
  top: 1675px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
}

#b_text8 {
  position: absolute;
  width: 410px;
  height: 87px;
  left: 125px;
  top: 1820px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
}

#photo6 {
  position: absolute;
  left: 750px;
  top: 1585px;
}

#photo7 {
  position: absolute;
  left: 1046px;
  top: 1390px;
}

#photo8{
  position: absolute;
  top: 1390px;
  left: 500px;
}

.box4 {
  background-color: white;
  height: 600px;
}

#b_text9 {
  position: absolute;
  width: 425px;
  height: 41px;
  left: 125px;
  top: 2200px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 160%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

#b_text10 {
  position: absolute;
  width: 425px;
  height: 78px;
  left: 125px;
  top: 2300px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
}

#b_text11 {
  position: absolute;
  width: 425px;
  height: 78px;
  left: 125px;
  top: 2400px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
}

#photo9 {
  position: absolute;
  width: 249px;
  height: 300px;
  left: 698px;
  top: 2255px;
}

#photo10 {
  position: absolute;
  width: 247px;
  height: 300px;
  left: 1010px;
  top: 2322px;
}

#photo11 {
  position: absolute;
  width: 140px;
  height: 300px;
  top: 2390px;
}

#photo12 {
  position: absolute;
  width: 183.59px;
  height: 321.19px;
  left: 1200px;
  top: 2000px;
}

.box5 {
  background-color: #44484A;
  height: 650px;
}

#b_text13 {
  position: absolute;
  width: 320px;
  height: 41px;
  left: 698px;
  top: 2800px;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 160%;
}

#b_text14 {
  position: absolute;
  width: 269px;
  height: 130px;
  left: 698px;
  top: 2900px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
}

#b_text15 {
  position: absolute;
  width: 269px;
  height: 130px;
  left: 999px;
  top: 2900px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
}

#b_text16{
  position: absolute;
  width: 492px;
  height: 52px;
  left: 748px;
  top: 3100px;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
}

#b_text17 {
  position: absolute;
  width: 30px;
  height: 66px;
  left: 698px;
  top: 3030px;
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 160%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

#photo13 {
  height: 650px;
}

.box6 {
  background-color: white;
  height: 50px;
}

#b_text18 {
  color: gray;
  position: absolute;
  width: 182px;
  height: 21px;
  left: 629px;
  top: 3320px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #4D4D4D;
}